body, html {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    height:100vh;
    width:100vw;
    
  }



::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
  
  .containerA {
    
    width: 100%;
    height:90%;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  
  .containerB {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
  }
  


  #cameraFeed {
        display: block;
        width:100%;
        height:100%;
        margin:0;
        padding:0;
       
  }

  #imageCanvas{
    display: none;
    width:100%;
    height:100%;
    border: 2px solid #ddd;
    margin:0;
    padding:0;
  
  }


  #captureImageButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: contain;
    margin: 1%;
  }
  
  #save-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("tick.png");
    background-size: contain;
    margin: 1%;
  }

  input[type=file]::file-selector-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(250, 245, 245);
    margin: 1%;
    background-image: url("upload.png");
    background-size: cover;
    font-size: 0;
    display: block;
    
  }

  #upload-image{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin: 1%;
    font-size: 0;
    display: block;   
  }

  #drawButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("pen.png");
    background-size: cover;
    margin: 1%;
  }

  #cameraButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("camera.png");
    background-size: contain;
    margin: 1%;
  }

  #drawRectangle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("rectangle.png");
    background-size: contain;
    margin: 1%;
  }
  
  #drawText{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("text.png");
    background-size: contain;
    margin: 1%;
  }

  #deleteButton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("delete.png");
    background-size: contain;
    margin: 1%;
  }

  
  /* Add more styles as needed */
  
